@using WebApplication7_CountdownTimerAPI.Models;
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
    var list = ViewData["List"] as List<object>;
}
@section Styles
    {

    <style>
        #datetimepicker {
            background: rgba(68, 68, 68, 0.65);
            color: #DD5500;
            font-weight: bolder;
            font-size: 26px;
            text-align: center;
        }

        .timer-container {
            font-family: 'Orbitron', sans-serif;
            font-size: 100px;
            color: rgba(0, 205, 62, 0.75);
        }

        .my-button {
            width: 5vw;
            height: 5vh;
            background-color: rgba(68, 68, 68, 0.65);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 26px;
        }

        .fav-btn-list {
            --b: 3px; /* border thickness */
            --s: .45em; /* size of the corner */
            --color: #DD5500;
            padding: calc(.5em + var(--s)) calc(.9em + var(--s));
            color: var(--color);
            --_p: var(--s);
            background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
            transition: .3s linear, color 0s, background-color 0s;
            outline: var(--b) solid #0000;
            outline-offset: .6em;
            font-size: 16px;
            border: 0;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

            .fav-btn-list:hover,
            .fav-btn-list:focus-visible {
                --_p: 0px;
                outline-color: var(--color);
                outline-offset: .05em;
            }

            .fav-btn-list:active {
                background: var(--color);
                color: #fff;
            }

        .container {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
        }

        .main-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 85vw;
        }

        .fav img, .start img, .stop img {
            object-fit: contain;
            vertical-align: middle;
            height: 3vh;
        }

        table {
            border: 1px solid gray;
            border-collapse: collapse;
        }

        .table {
            color: gray;
            caption-side: top;
        }

        th, td {
            border: 1px solid gray;
        }

        .my-pad {
            padding-block: 20px;
        }

        #selected-date-time {
            color: white;
        }

        .fav-div {
            color: #DD5500;
        }

        .btn-div {
            display: flex;
            gap: 5px;
        }

        #fav-list {
            margin-left: 10px;
            list-style: none;
            padding-left: 5px;
        }

            #fav-list li {
                display: flex;
                align-items: center;
                padding: .5rem;
            }

                #fav-list li::before {
                    content: "";
                    width: 40px;
                    height: 40px;
                    margin-right: 1rem;
                    background-image: url(/svg/clock.svg);
                }

        #history-btn {
            appearance: button;
            /* background-color: #000; */
            background-color: rgba(68, 68, 68, 0.65);
            background-image: none;
            border: 1px solid #DD5500;
            border-radius: 4px;
            box-shadow: #DD5500 4px 4px 0 0, #DD5500 4px 4px 0 1px;
            box-sizing: border-box;
            color: black;
            cursor: pointer;
            display: inline-block;
            font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 5px 10px 0;
            overflow: visible;
            padding: 12px 40px;
            text-align: center;
            text-transform: none;
            touch-action: manipulation;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
            white-space: nowrap;
            width: 15vw;
        }

            #history-btn:focus {
                text-decoration: none;
            }

            #history-btn:hover {
                text-decoration: none;
            }

            #history-btn:active {
                box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
                outline: 0;
            }

            #history-btn:not([disabled]):active {
                box-shadow: #843300 2px 2px 0 0, #000 2px 2px 0 1px;
                transform: translate(2px, 2px);
            }

        #history-div {
            display: none;
        }

        .del-button {
            width: 40px;
            max-width:40px;
            margin-left: 15px;
            align-items: center;
            /* background-color: #fff; */
            background: url(/svg/bin.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 12px;
            box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
            box-sizing: border-box;
            color: #121212;
            cursor: pointer;
            display: inline-flex;
            flex: 1 1 auto;
            font-family: Inter,sans-serif;
            font-size: 1.2rem;
            font-weight: 700;
            justify-content: center;
            line-height: 1;
            /* margin: 0; */
            outline: none;
            padding: 1rem 1.2rem;
            text-align: center;
            text-decoration: none;
            transition: box-shadow .2s,-webkit-box-shadow .2s;
            white-space: nowrap;
            border: 0;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

            .del-button:hover {
                box-shadow: #a90000 0px 2px 0px, transparent 0 0 0 0;
        }
        #event-btn-div{
            position: absolute;
            left: 0.5%;
            top: 9%;
        }

        .custom-btn {
            width: 130px;
            height: 40px;
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
            outline: none;
        }

        #calendar-event-btn, #show-events-btn {
            --c: #DD5500;
            /* text color */
            background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat, #51376e;
            /* background color */
            color: #0000;
            border: none;
            transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
            text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0 var(--c), calc(var(--_i,-1)*-0.08em) .01em 2px #0004;
            outline-offset: .1em;
            transition: 0.3s;
        }

            #calendar-event-btn:hover,
            #calendar-event-btn:focus-visible,
            #show-events-btn:hover,
            #show-events-btn:focus-visible {
                --_p: 0%;
                --_i: 1;
            }

            #calendar-event-btn:active, #show-events-btn:active {
                text-shadow: none;
                color: var(--c);
                box-shadow: inset 0 0 9e9q #0005;
                transition: 0s;
            }

        #calendar-event-btn, #show-events-btn {
            font-family: system-ui, sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            margin: 0;
            cursor: pointer;
            padding: .1em .3em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 150px;
            left: 21px;
        }

        .event-cards-div {
            /* background-color: #230e0b; */
            position: absolute;
            left: 0px;
            width: 15vw;
            display: none;
            padding-top: 150px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            height: 50vh;
       }

        .container-main {
            display: flex;
            flex-direction: row;
       }

        #show-events-div {
            position: absolute;
            left: 0.5%;
            top: 15%;
        }

        .card-header{
            font-weight: bolder;
            font-size:larger;
            color: #DD5500;
        }

        .my-color{
            background-color: #51376e;
        }
        .my-card{
            max-width: 18rem;
            height: 100%;
            font-family: system-ui, sans-serif;
            font-size: 1rem;
        }
        .my-card p{
            font-style: italic;
        }
        
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
}
<div class="container-main">
    <div class="event-cards-div" id="event-container">
        <div class="container">
            <!-- Carousel https://getbootstrap.com/docs/5.1/components/carousel/ -->
            <div class="carousel-container justify-content-center">
                <!-- data-bs-interval: the amount of time to delay between automatically cycling an item. If false, carousel will not automatically cycle -->
                <!-- data-bs wrap: whether the carousel should cycle continuously (i.e go from first to last and vice-versa) -->
                <div id="vertical-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"
                     data-bs-wrap="true">
                    <!-- Carousel slide indicators -->
                    <ol class="carousel-indicators">
                        @* <li data-bs-target="#vertical-carousel" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#vertical-carousel" data-bs-slide-to="1"></li>
                        <li data-bs-target="#vertical-carousel" data-bs-slide-to="2"></li>
                        <li data-bs-target="#vertical-carousel" data-bs-slide-to="3"></li> *@
                    </ol>
                    <div class="carousel-inner">
                        <!-- Carousel item represents each slide -->
                        @* <div class="carousel-item active">
                            <div class="card text-dark my-color mb-3 my-card text-center">
                                <div class="card-header">21.10.2023</div>
                                <div class="card-body">
                                    <h5 class="card-title">Someone's b-day</h5>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">2 days to go</p>
                                    </div>
                            </div>
                        </div> *@
                        
                    </div>
                </div>
                <!-- Carousel buttons -->
                <button class="unclickable carousel-control-prev" type="button" data-bs-target="#vertical-carousel"
                        data-bs-slide="prev">
                    <span class="clickable carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="unclickable carousel-control-next" type="button" data-bs-target="#vertical-carousel"
                        data-bs-slide="next">
                    <span class="clickable carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> 
    </div>
<div class="main-div">
    <div>
        @* <input class="timepicker" id="picker"/> *@
        <input id="datetimepicker" type="text">
    </div>
    <div class="timer-container" id="timer">
        --:--
    </div>
    <div class="btn-div">
        <button id="start-btn" class="my-button start">
            <img src="~/svg/play.svg" alt="play" />
        </button>
        <button id="stop-btn" class="my-button stop">
            <img src="~/svg/stop.svg" alt="stop" />
        </button>
        <button id="favorite-btn" class="my-button fav">
            <img src="~/svg/star.svg" alt="star" />
        </button>
    </div>
    <div>
        <audio id="track" src="~/audio/telephone_ring.wav">
            @* <p>Your browser does not support the audio element</p> *@
        </audio>
    </div>
    <div class="fav-div">
        Favorites timers:
        <ul id="fav-list"></ul>
    </div>
    <button id="history-btn">Show History</button>
    <div class="my-pad" id="history-div">
        <table class="table">
            <caption>
                Last 5 countdowns:
            </caption>
            <thead>
                <tr>
                    <th scope="col">Start time</th>
                    <th scope="col">Event time</th>
                    <th scope="col">Duration planned</th>
                    <th scope="col">Duration performed</th>
                </tr>
            </thead>
            <tbody id="record-table-body">
            </tbody>
        </table>
    </div>
    @* <div id="selected-date-time"></div> *@
    @* <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
            <tbody id="countdown-objects"></tbody>
        </table>
    </div> *@
    <div id="events-div">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Days to come</th>
                </tr>
            </thead>
            <tbody id="events-table-body">
               
            </tbody>
        </table>
    </div>
    <div id="event-btn-div">
        <button id="calendar-event-btn" class="custom-btn">Add event</button>
    </div>
        <div id="show-events-div">
            <button id="show-events-btn" class="custom-btn">Show</button>
        </div>
  
</div>
</div>

@section Scripts{
    <script src="~/js/LoginRegister.js"></script>
}